/*div {
    border: 2px solid black;
    padding: 10px 20px;
}
button {
    margin: 10px;
}
.background {
    background-color: green;
    border-radius: 30px;
    margin: 10px;
}

.background p {
    color: white;
}*/

/*div {
    border : solid black 2px;
    padding: 20px;
}*/